<nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top shadow">
    <div class="d-flex flex-grow-1">
        <span class="w-100 d-lg-none d-block"><!-- hidden spacer to center brand on mobile --></span>
        <a class="navbar-brand" href="#">
           EA Development Portal
        </a>
        <div class="w-100 text-right">
            <button class="navbar-toggler" (click)="isNavbarCollapsed = !isNavbarCollapsed" type="button" data-toggle="collapse" data-target="#eaDevNav">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
    <div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse flex-grow-1 text-right" id="eaDevNav">
        <ul class="navbar-nav ml-auto flex-nowrap">
                <span class="navbar-text pr-2" *ngIf="isLoggedIn">{{user.email}}</span>
            <li class="nav-item">
                <button class="btn btn-outline-success" *ngIf="!isLoggedIn" (click)="login()" type="button">Login</button>
                <button class="btn btn-outline-success" *ngIf="isLoggedIn" (click)="logout()" type="button"type="button">LogOut</button>
            </li>
        </ul>
    </div>
</nav>

