<div class='d-flex justify-content-center' *ngIf='showSpinner'>
    <div class='spinner-border' role='status'>
        <span class='sr-only'>Loading...</span>
    </div>
</div>

<table class='table' *ngIf='!showSpinner'>
    <thead class='thead'>
        <tr>
            <th scope='col'>Id</th>
            <th scope='col'>Name</th>
            <th scope='col'>Description</th>
            <th scope='col'>Quota</th>
            <th scope='col'>Throttle</th>
            <th scope='col'>API Stages</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor='let usagePlan of usagePlans'>
            <th scope='row'>{{usagePlan.id}}</th>
            <td>{{usagePlan.name}}</td>
            <td>{{usagePlan.description}}</td>
            <td>Limit: {{ usagePlan.quota.limit }}</td>
            <td>Burst Limit: {{ usagePlan.throttle.burstLimit }}</td>
            <td>
        <tr *ngFor='let apiStage of usagePlan.apiStages'>
            <td>{{apiStage.apiId}}</td>
            <td>{{apiStage.stage}}</td>
        </tr>
        </td>
        </tr>
    </tbody>
</table>