<div class='jumbotron'>
    <div class='container'>
      <h1 class='display-3'>EA Development Portal</h1>
      <p>RESTful APIs for building smarter software.</p>
      <p><a class='btn btn-primary btn-lg' href='#' (click)="register()" role='button'>Register for an account &raquo;</a></p>
    </div>
  </div>

  <div class='container'>
    <!-- Example row of columns -->
    <div class='row'>
      <div class='col-md-4'>
        <h2>Test your application in the sandbox</h2>
          <div>Add your sandbox application for testing.</div>
          <div>Subscribe it to the APIs you want to integrate with.</div>
          <div>Get access to its sandbox credentials.</div>
          <div>Use its sandbox credentials for integration testing.</div>
      </div>
      <div class='col-md-4'>
        <h2>Apply to go Live</h2>
          <div>Add your production application.</div>
          <div>Subscribe it to the APIs you want to integrate with.</div>
          <div>Apply for production credentials and agree to our terms of use.</div>
      </div>
      <div class='col-md-4'>
        <h2>Start using Live Data</h2>
        <p>Once the check is successful, we'll invite you by email to collect your production credentials so your application can use live data.</p>
      </div>
    </div>
